.App_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#place-notes {
    min-width: 200px;
}

#add-place {
    width: 50%;
    // font-family: 'Fauna One', serif;
    font-family: 'Open Sans', sans-serif;
}

#add-place-title {
    // font-family: 'Fauna One', serif;
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
}

#add-place-header {
    padding: 0px;
}


