* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: white;
    line-height: 1.5;
    background: url(../../images/favoreat-background-5.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .App_main {
    margin-top: 12%;
  }
  
  nav,
  footer {
    padding: 1% 0;
  }
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  label {
    color: white;
    margin-right: 5px;
}  

input, textarea {
  color: black;
}