label {
    color: white;
}

.login-button {
    color: black;
    width: 75px;
    margin-top: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(1, 17, 58);
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginPage {
    margin-top: 100px;
    /* width: 75%;
    height: 50%;
    background: rgb(1, 17, 58); */
}

.login-header {
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
    text-align: center;
}