.place-name {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.place-name:hover {
    text-decoration: underline;
}

.place-type {
    font-size: 18px;
    font-style: italic;
    margin: 10px 0px;
}

.place-section {
    border: 2px solid white;
    margin: 10px;
}

#items-ordered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    /* border: 2px solid white; */
    /* margin: 10px; */
    /* background: rgba(0,0,0,.9); */
    padding: 15px 0;
}

#notes {
    width: 80%;
}

button {
    color: black;
    width: 100px;
}

.hh {
    margin: 0px;
}