* {
    color: white;
}

.Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: black;
    /* border-bottom: 5px solid white; */
    height: 100px;
}

.justify-start {
    margin-right: auto;
    margin-left: 10px;
}

#register, #login {
    padding: 5px;
    /* font-family: 'Fauna One', serif; */
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

#demo-button {
    border: 1px solid white;
    padding: 5px;
    background: black;
    /* font-family: 'Fauna One', serif; */
    font-family: 'Open Sans', sans-serif;
    margin-right: 5px;
    margin-left: 10px;    
}

h1 {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    margin: 0;
  }

  .register-login {
      display: flex;
      align-items: center;
  }

  .not-logged-in > a {
      margin: 10px;
  }

  @media screen and (max-width: 400px) {
    #demo-button {
        margin-top: 10px;
    }


  }