* {
    color: white;
}

.Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: black;
    border-bottom: 5px solid white;
    height: 100px;
}

.justify-start {
    margin-right: auto;
    margin-left: 10px;
}

#register, #login {
    padding: 5px;
    font-family: 'Fauna One', serif;
}

a {
    text-decoration: none;
}

#demo-button {
    border: 1px solid white;
    padding: 5px;
    background: black;
    font-family: 'Fauna One', serif;
    margin-right: 5px;    
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin: 0;
  }